body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.counter {
  width: 100px;
  margin: 50px;
  background: #9b59b6;
  box-shadow: 0px 5px 0px #A377B5;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
}



