body {
    min-height: 100vh;display: flex;
    justify-content: center;align-items: center;
}
.container {
    text-align: center;
}
.hex {
    font-size: 3rem;text-transform: uppercase;
}
.hexBtn {
    padding: 0.25rem 0.5rem;border: 3px solid #fefefe;border-radius: 7px;
    color: #fefefe;background: rgba(0,0,0,0.6);font-size: 1.5rem;
    outline: none;text-transform: capitalize;cursor: pointer;
}
.hexBtn:hover {
    background: rgba(0,0,0);
}
